a.no-underline {
    text-decoration: none;
}
a.music-video-link:link {
    color: red;
}
a.music-video-link:visited {
    color: green;
}
a.music-video-link:hover {
    color: hotpink;
}
a.music-video-link:active {
    color: blue;
}
a.link-button1:link , a.link-button1:visited {
    display: inline-block;
    color: white;
    background-color: #5dbea3;
    padding: 14px 25px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a.link-button1:hover , a.link-button1:active {
    display: inline-block;
    color: white;
    background-color: #33b249;
    padding: 14px 25px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a.link-button2:link , a.link-button2:visited {
    display: inline-block;
    color: white;
    background-color: #5dbea3;
    padding: 14px 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
a.link-button2:hover , a.link-button2:active {
    display: inline-block;
    color:white;
    background-color: #33b249;
    padding: 14px 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
a.link-button3:link , a.link-button3:visited {
    display: inline-block;
    border: 2px solid #33b249;
    color: black;
    background-color:antiquewhite;
    padding: 14px 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
a.link-button3:hover , a.link-button3:active {
    display: inline-block;
    border: 2px solid #33b249;
    color:white;
    background-color: #5dbea3;
    padding: 14px 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}