p.p1 {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    outline-width: 10px;
    outline-style: solid;
    outline-color: green;
    width: 50%;
    margin: auto;
}
p.out1 {
    outline: 3px dotted red;
}
p.out2 {
    outline: 3px dashed red;
}
p.out3 {
    outline: 3px solid red;
}
p.out4 {
    outline: 3px double red;
}
p.out5 {
    outline: 3px groove red;
}
p.out6 {
    outline: 3px ridge red;
}
p.out7 {
    outline: 3px inset red;
}
p.out8 {
    outline: 3px outset red;
}
p.out1, p.out2, p.out3, p.out4, p.out5, p.out6, p.out7, p.out8 {
    box-sizing: border-box;
    width: 60%;
    text-align: center;
    margin: auto;
    padding: 10px;
}
h1{
    text-align: center;
}
p.thin {
    box-sizing: border-box;
    width: 60%;
    outline: thin solid red;
    text-align: center;
    margin: auto;
    padding: 10px;
}
p.medium {
    box-sizing: border-box;
    width: 60%;
    outline: medium solid red;
    text-align: center;
    margin: auto;
    padding: 10px;
}
p.thick {
    box-sizing: border-box;
    width: 60%;
    outline: thick solid red;
    text-align: center;
    margin: auto;
    padding: 10px;
}   
p.width-4px {
    box-sizing: border-box;
    width: 60%;
    outline: 4px solid red;
    text-align: center;
    margin: auto;
    padding: 10px;
}
p.color1 {
    box-sizing:border-box;
    width: 60%;
    margin: auto;
    padding: 10px;
    text-align: center;
    border: 5px solid black;
    outline: 5px solid red;
}
p.color2 {
    box-sizing:border-box;
    width: 60%;
    margin: auto;
    padding: 10px;
    text-align: center;
    border: 5px solid black;
    outline: 5px dotted blue;
}
p.color3 {
    box-sizing:border-box;
    width: 60%;
    margin: auto;
    padding: 10px;
    text-align: center;
    border: 5px solid black;
    outline: 5px outset grey;
}
#placeholder {
    box-sizing:border-box;
    width: 60%;
    margin: auto;
    padding: 10px;
    text-align: center;
    border: 5px solid black;
}
p.offset {
    box-sizing: border-box;
    width: 60%;
    margin: auto;
    padding: 10px;
    text-align: center;
    border: 5px solid black;
    outline: 5px solid pink;
    background-color: lemonchiffon;
    outline-offset: 20px;
}