.div1{
    height: 50px;
    width: 100%;
    border: 1px solid darkblue;
    margin-bottom: 8px;
}
.div2{
    height: 200px;
    width: 50%;
    background-color: powderblue;
    margin-bottom: 8px;
}
.div3{
    width: 500px;
    height: 100px;
    border: 20px solid #edf;
    background-color: tomato;
    box-sizing: border-box;
    margin-bottom: 8px;
}
.div4{
    width: 500px;
    height: 100px;
    background-color: rgb(173, 79, 63);
}