/* body{
    background-image: url("../images/flower-branch_489x640.png");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: right top;
    background-attachment: scroll;
} 
    THE CODE ABOVE IS THE SAME BELOW BUT WITH NO BACKGROUND SIZE!
*/
 body{
    background:whitesmoke url("../images/flower-branch_489x640.png") no-repeat scroll right top 
 }
 h1, p{
    color:gray;
 }
header{
    margin-right: 489px;
}
p.p1{
    border-style: outset;
    border-color: rgb(107, 61, 61);
    border-width: 10px;
    padding: 20px;
}