#paragraph {
    box-sizing: border-box;
    border: 2px solid black;
    text-align: center;
    background-color: khaki;
    padding: 20px 0px;
    margin: auto;
    width: 800px;
}
#button {
    box-sizing: border-box;
    font-family: Joan, "Noto sans", sans-serif;
    color: black;
    border: 1px solid black;
    max-width: 200px;
    text-align: center;
    margin: auto;
    user-select: none;
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 20px;
    background-color: #D56AA0;
}
#button:hover {
    background-color: #861657;
    color: white;
}