#table1, #table1 th, #table1 td {
    border: 1px solid #ddd;
    border-collapse: collapse;
}
#table1 td {
    padding: 10px;
}
#table1 th{
    padding: 12px;
    text-align: left;
    color: white;
    background-color:#04AA6D;
}
#table1 {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
#table1 tr:nth-child(even) {
    background-color: #f2f2f2;
}
#table1 tr:hover {
    background-color: #ddd;
}
#table-with-border, #table-with-border th, #table-with-border td {
    border: 2px solid black;
}
#table-fullwidth, #table-fullwidth th, #table-fullwidth td {
    border: 2px solid black;
}
#table-fullwidth {
    width: 100%;
}
#table-collapse, #table-collapse th, #table-collapse td {
    border: 2px solid black;
    border-collapse: collapse;
}
#table-collapse {
    width: 100%;
}
#table-center, #table-center th, #table-center td {
    border: 1px solid black;
    border-collapse: collapse;
}
#table-center {
    width: 100%;
}
#table-center th, #table-center td {
    text-align: center;
}
#table-left, #table-left th, #table-left td {
    border: 1px solid black;
    border-collapse: collapse;
}
#table-left {
    width: 100%;
}
#table-left th, #table-left td {
    text-align: left;
}
#table-bottom, #table-bottom th, #table-bottom td {
    border: 1px solid black;
    border-collapse: collapse;
}
#table-bottom {
    width: 100%;
}
#table-bottom td {
    height:50px;
    vertical-align: bottom;
}
#table-padding, #table-padding th, #table-padding td {
    border: 1px solid black;
    border-collapse: collapse;
}
#table-padding {
    width: 100%;
}
#table-padding th, #table-padding td {
    text-align: left;
    padding: 15px;
}
#table-hd, #table-hd th, #table-hd td {
    border-collapse: collapse;
}
#table-hd {
    width: 100%;
}
#table-hd th, #table-hd td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
#table-hover, #table-hover th, #table-hover td {
    border-collapse: collapse;
}
#table-hover {
    width: 100%;
}
#table-hover tr:hover {
    background-color: coral;
    color: whitesmoke;
}
#table-hover th, #table-hover td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
#table-striped, #table-striped th, #table-striped td {
    border-collapse: collapse;
}
#table-striped {
    width: 100%;
}
#table-striped tr:nth-child(even) {
    background-color: #f2f2f2;
}
#table-striped th, #table-striped td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
#table-striped tr:hover {
    background-color: coral;
    color: whitesmoke;
}
.table-container {
    overflow-x: auto;
}
#table-long {
    width: 100%;
}
#table-long, #table-long th, #table-long td {
    border: 1px solid black;
    border-collapse: collapse;
}
#table-long th, #table-long td {
    width: 50px;
    padding: 5px 20px 5px 5px;
}
#table-long tr:nth-child(even) {
    background-color: #ddd;
}
#table-long tr:hover {
    background-color: #045e3d;
    color: white;
}
#table-long th {
    background-color: #04AA6D;
    color: white;
}
#table-long caption {
    caption-side: bottom;
}