* {
  box-sizing: border-box;
}
body {
  font-family: "Lucida sans", sans-serif;
  background-color: white;
}
div.body-container {
  display: grid;
  grid-template-areas:
    "header header header header header header header header header"
    "menu main main main main main main aside aside"
    "footer footer footer footer footer footer footer footer footer";
  gap: 20px;
}
div.body-container header {
  grid-area: header;
}
div.body-container nav {
  grid-area: menu;
}
div.body-container main {
  grid-area: main;
}
div.body-container aside {
  grid-area: aside;
}
div.body-container footer {
  grid-area: footer;
}
div.body-container header {
  background-color: #800080;
  color: white;
  text-align: center;
}
div.body-container header h1 {
  margin: 0px;
  padding: 10px 10px;
  font-size: 40px;
}
div.menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
div.menu a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #33b5e5;
  margin: 5px 0px;
  padding: 10px 10px;
}
div.menu a:hover {
  background-color: #0099cc;
}
main {
  padding: 10px;
}
main h2 {
  font-size: 30px;
  margin: 0px;
}
main p {
  margin: 8px 0px;
}
aside {
  border: 2px solid #0099cc;
  padding: 10px;
}
aside h3 {
  margin: 0px;
}
aside ul li {
  margin: 20px 0px;
}
footer {
  color: white;
  background-color: #0099cc;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  div.body-container {
    display: grid;
    grid-template-areas:
      "header header header header header header header header header"
      "menu main main main main main main main main"
      "aside aside aside aside aside aside aside aside aside"
      "footer footer footer footer footer footer footer footer footer";
  }
}
@media only screen and (max-width: 600px) {
  div.body-container {
    display: grid;
    grid-template-areas:
      "header header header header header header header header header"
      "menu menu menu menu menu menu menu menu menu"
      "main main main main main main main main main"
      "aside aside aside aside aside aside aside aside aside"
      "footer footer footer footer footer footer footer footer footer";
  }
}
