h2.ten-percent{
    background-color: rgb(0, 128, 0);
    opacity: 0.1;
}
h2.thirty-percent{
    background-color: rgb(0, 128, 0);
    opacity: 0.3;
}
h2.sixty-percent{
    background-color: rgb(0, 128, 0);
    opacity: 0.6;
}
h2.one-hundred-percent{
    background-color: rgb(0, 128, 0);
    opacity: 1.0;
}
h2.rgba10{
    background-color: rgba(0, 128, 0, 0.1);
}
h2.rgba30{
    background-color: rgba(0, 128, 0, 0.3);
}
h2.rgba60{
    background-color: rgba(0, 128, 0, 0.6);
}
h2.default{
    background-color: rgba(0, 128, 0, 1.0);
}