* {
  box-sizing: border-box;
}
ul.main-nav {
  list-style-type: none;
  margin: 0px 0px 20px 0px;
  padding: 0px;
  background-color: #fd4;
  user-select: none;
  border: 2.5px solid black;
  border-radius: 20px;
  overflow: auto;
}
ul.main-nav::after {
  content: "";
  clear: both;
  display: table;
}
ul.main-nav li {
  float: left;
  display: block;
  padding: 10px;
  margin-left: 10px;
}
ul.main-nav li a {
  text-decoration: none;
  color: black;
  font-family: "Lexend Deca", Joan, "Noto Sans";
  font-size: 1.25em;
  font-weight: bold;
  padding: 5px;
  margin: 0px;
  border-style: hidden;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
ul.main-nav li a:hover {
  background-color: #4caf50;
  color: white;
  letter-spacing: 0.1em;
}
@media only screen and (max-width: 1450px) {
  ul.main-nav {
    width: 40%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 50px;
  }
  ul.main-nav li {
    float: none;
    margin: 0px;
    text-align: center;
  }
}
section.section-container {
  padding: 20px;
  background-color: #5cd560;
  border-style: hidden;
  border-radius: 50px;
  border: 2.5px solid black;
  font-family: "Lexend Deca", Joan, "Noto Sans";
  margin-bottom: 20px;
}
h2.subheader {
  text-align: center;
  padding: 20px 0px;
  width: 20%;
  margin: auto;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 30px;
  background-color: #ffdd44;
  color: black;
}
p.p-container {
  border: 1px solid black;
  background-color: #ffdd44;
  padding: 20px;
  border-radius: 20px;
  border-width: 2.5px;
}
div.div-container {
  border: 1px solid black;
  background-color: lightgreen;
  padding: 20px;
  border-radius: 20px;
  border-width: 2.5px;
}
div.div-center {
  width: 50%;
  margin: auto;
}
div.div-text-center {
  text-align: center;
}
img.random-images {
  display: block;
  margin: auto;
  user-select: none;
}
div.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
p.previous-button,
p.next-button {
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  background-color: coral;
  border-radius: 20px;
  user-select: none;
  cursor: pointer;
  font-size: 12px;
}
p.previous-button:hover,
p.next-button:hover {
  background-color: rgb(252, 162, 129);
}
div.div-parent {
  position: relative;
  text-align: center;
  width: 100%;
  height: 500px;
}
div.div-child {
  position: absolute;
  width: 25%;
  height: 100px;
  text-align: center;
  background-color: #ffdd44;
  right: 10px;
  bottom: 10px;
}
img.img-smile {
  float: right;
}
div.div-with-clearfix::after {
  content: "";
  clear: both;
  display: table;
}
a.a-example {
  text-decoration: none;
  display: block;
  border: 3px solid black;
  width: 300px;
  margin: auto;
  text-align: center;
  padding: 20px 0px;
  border-radius: 20px;
}
a.a-example:link,
a.a-example:visited {
  background-color: #327135;
  color: white;
}
a.a-example:hover,
a.a-example:active {
  background-color: #5cd560;
  color: black;
}
div.div-hover {
  text-align: center;
}
div.div-hover:hover {
  font-size: 2em;
  background-image: linear-gradient(to right, red, purple, blue);
  color: white;
}
div.div-tooltip {
  text-align: center;
}
div.div-background {
  background-image: url("../images/the-little-prince_1291x852.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
  height: 396px;
  margin: auto;
  border-style: hidden;
  border-radius: 50px;
  display: none;
}
div.trans-box {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px 20px;
  width: 600px;
  height: 396px;
  border-radius: 50px;
}
div.trans-box p.p-tooltip {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
div.div-tooltip:hover div.div-background {
  display: block;
}
div.div-tooltip:hover {
  background-image: linear-gradient(
    to bottom,
    lightgreen,
    yellow,
    gold,
    orange
  );
}
div.first-child {
  text-align: center;
}
div.first-child span:first-child {
  background-color: aqua;
  font-size: larger;
}
div.div-first-line::first-line {
  color: red;
  font-size: 20px;
  text-decoration: underline;
}
div.first-letter::first-letter {
  font-family: "Jacques Francois Shadow", Joan, "Lexend Deca", "Noto Sans";
  font-size: 100px;
  color: red;
}
p.p-before-after::before,
p.p-before-after::after {
  content: url("../images/anthony-mackie-smile_220x177.gif");
}
div.div-marker {
  width: 30%;
}
::marker {
  font-size: 25px;
  color: red;
}
::selection {
  background-color: black;
  color: white;
}
img.thanos1,
img.thanos2,
img.thanos3 {
  float: left;
  padding: 10px 10px;
  border-radius: 50px;
}
img.thanos1 {
  opacity: 1;
}
img.thanos2 {
  opacity: 0.5;
}
img.thanos3 {
  opacity: 0.25;
}
img.rengoku,
img.zenitsu,
img.tanjiro {
  border-radius: 100px;
  opacity: 0.5;
  display: block;
  margin: auto;
  padding: 10px;
}
img.rengoku:hover,
img.zenitsu:hover,
img.tanjiro:hover {
  width: 100%;
  opacity: 1;
  transition: 0.6s;
}
img.dog {
  border-radius: 100px;
  opacity: 0.5;
  display: block;
  margin: auto;
  padding: 10px;
}
img.dog:hover {
  width: 60%;
  opacity: 1;
  transition: 0.6s;
}
div.nav-basic {
  width: 10%;
}
div.nav-basic ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
div.nav-basic ul li a {
  text-decoration: none;
}
div.vertical-nav-basic {
  width: 10%;
}
div.vertical-nav-basic ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
div.vertical-nav-basic ul li a {
  text-decoration: none;
  display: block;
  border: 1px solid black;
  background-color: antiquewhite;
}
div.vertical-nav-adv {
  width: 15%;
}
div.vertical-nav-adv ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
div.vertical-nav-adv ul li a {
  text-decoration: none;
  font-weight: bold;
  display: block;
  color: black;
  padding: 10px;
  background-color: #ddd;
  user-select: none;
}
div.vertical-nav-adv ul li a:hover {
  background-color: #555;
  color: white;
  transition: 0.3s;
}
div.vertical-nav-adv1 {
  width: 15%;
}
div.vertical-nav-adv1 ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  border: 1px solid black;
}
div.vertical-nav-adv1 ul li a {
  text-decoration: none;
  font-weight: bold;
  display: block;
  color: black;
  padding: 10px;
  background-color: #ddd;
  user-select: none;
}
div.vertical-nav-adv1 ul li {
  border-bottom: 1px solid black;
}
div.vertical-nav-adv1 ul li:last-child {
  border-bottom: none;
}
div.vertical-nav-adv1 ul li a.active {
  background-color: #04aa6d;
  color: white;
}
div.vertical-nav-adv1 ul li a:hover:not(a.active) {
  background-color: #555;
  color: white;
  transition: 0.3s;
}
div.side-nav {
  height: 450px;
  overflow: auto;
  position: relative;
}
div.side-nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 15%;
  height: 100%;
  overflow: auto;
  background-color: #ddd;
  top: 0px;
  position: sticky;
  float: left;
}
div.side-nav ul li a {
  text-decoration: none;
  font-weight: bold;
  display: block;
  color: black;
  padding: 10px;
  user-select: none;
}
div.side-nav ul li a.active {
  background-color: #04aa6d;
  color: white;
}
div.side-nav ul li a:hover:not(a.active) {
  background-color: #555;
  letter-spacing: 0.25em;
  color: white;
  transition: 0.3s;
}
div.side-nav ul li a.active:hover {
  letter-spacing: 0.25em;
  transition: 0.3s;
  color: black;
  background-color: #fd4;
}
h3.subheader {
  text-align: center;
  padding: 20px 0px;
  width: 20%;
  margin: auto;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 20px;
  background-color: #ffdd44;
  color: black;
}
div.ex-content {
  width: 84%;
  margin-left: 1%;
  float: left;
}
ul.horizontal-nav1 {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: #333;
  overflow: auto;
}
ul.horizontal-nav1::after {
  content: "";
  clear: both;
  display: table;
}
ul.horizontal-nav1 li {
  float: left;
  padding: 10px;
}
ul.horizontal-nav1 li a {
  text-decoration: none;
  color: #ddd;
  font-weight: bold;
  text-align: center;
}
ul.horizontal-nav1 li:hover {
  background-color: #111;
  letter-spacing: 0.1em;
  transition: 0.3s;
}
ul.horizontal-nav2 {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: #333;
  overflow: auto;
}
ul.horizontal-nav2::after {
  content: "";
  clear: both;
  display: table;
}
ul.horizontal-nav2 li {
  float: left;
  padding: 10px;
}
ul.horizontal-nav2 li:last-child {
  float: right;
  padding: 10px;
  background-color: #04aa6d;
}
ul.horizontal-nav2 li a {
  text-decoration: none;
  color: #ddd;
  font-weight: bold;
  text-align: center;
}
ul.horizontal-nav2 li:hover:not(li.exabout) {
  background-color: #111;
  letter-spacing: 0.1em;
  transition: 0.3s;
}
ul.horizontal-nav2 li.exabout:hover {
  background-color: #038253;
  letter-spacing: 0.1em;
  transition: 0.3s;
}
ul.horizontal-nav3 {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: #333;
  overflow: auto;
}
ul.horizontal-nav3::after {
  content: "";
  clear: both;
  display: table;
}
ul.horizontal-nav3 li {
  float: left;
  padding: 10px;
  border-right: 1px solid #bbb;
}
ul.horizontal-nav3 li a {
  text-decoration: none;
  color: #ddd;
  font-weight: bold;
  text-align: center;
}
ul.horizontal-nav3 li:hover {
  background-color: #111;
  letter-spacing: 0.1em;
  transition: 0.3s;
}
ul.horizontal-nav-fixed {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-size: 1.25em;
  background-color: #333;
  overflow: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}
ul.horizontal-nav-fixed::after {
  content: "";
  clear: both;
  display: table;
}
ul.horizontal-nav-fixed li {
  float: left;
  padding: 10px;
}
ul.horizontal-nav-fixed li a {
  text-decoration: none;
  color: #ddd;
  font-weight: bold;
  text-align: center;
}
ul.horizontal-nav-fixed li:hover {
  background-color: #111;
  letter-spacing: 0.1em;
  transition: 0.3s;
}
ul.horizontal-nav-sticky {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-size: 1.25em;
  background-color: #333;
  overflow: auto;
  position: sticky;
  top: 0px;
  width: 100%;
}
ul.horizontal-nav-sticky::after {
  content: "";
  clear: both;
  display: table;
}
ul.horizontal-nav-sticky li {
  float: left;
  padding: 10px;
}
ul.horizontal-nav-sticky li a {
  text-decoration: none;
  color: #ddd;
  font-weight: bold;
  text-align: center;
}
ul.horizontal-nav-sticky li:hover {
  background-color: #111;
  letter-spacing: 0.1em;
  transition: 0.3s;
}
iframe.nav-bars {
  background-image: linear-gradient(red, orange, #fd4, gold);
}
ul.horizontal-nav-responsive {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #333;
  overflow: auto;
}
ul.horizontal-nav-responsive::after {
  content: "";
  clear: both;
  display: table;
}
ul.horizontal-nav-responsive li {
  float: left;
  text-align: center;
  padding: 10px;
}
ul.horizontal-nav-responsive li a {
  text-decoration: none;
  color: #ddd;
  font-weight: bold;
  text-align: center;
}
ul.horizontal-nav-responsive li:hover {
  background-color: #111;
  letter-spacing: 0.1em;
  transition: 0.3s;
}
@media screen and (max-width: 600px) {
  ul.horizontal-nav-responsive li {
    float: none;
  }
}
a.go-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #fd4;
  border-style: hidden;
  border-radius: 10px;
  box-shadow: 0px 12px 18px 0px rgba(0, 0, 0, 0.5);
}
ul.nav-with-dropdown {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #333;
  user-select: none;
}
ul.nav-with-dropdown::after {
  content: "";
  clear: both;
  display: table;
}
ul.nav-with-dropdown li {
  float: left;
  display: block;
  padding: 10px;
}
ul.nav-with-dropdown li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
ul.nav-with-dropdown li:hover {
  background-color: #111;
  letter-spacing: 0.1em;
  transition: 0.3s;
}
li.dropdown {
  position: relative;
}
ul.dropdown-content {
  display: none;
  position: absolute;
  list-style-type: none;
  width: 100%;
  margin: 10px 0px 0px -10px;
  padding: 0px;
  background-color: rgb(200, 200, 200);
  z-index: 1;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 1);
  overflow: auto;
}
ul.dropdown-content li {
  display: block;
  float: none;
  text-align: center;
}
ul.dropdown-content li:hover {
  background-color: white;
  transition: 0.3s;
}
ul.dropdown-content li a {
  color: #333;
  text-decoration: none;
}
li.dropdown:hover ul.dropdown-content {
  display: block;
}
div.dropdown-example {
  font-size: 40px;
}
div.dropdown-content-example {
  display: none;
  width: 50%;
  margin: auto;
  border-radius: 100px;
  box-shadow: 0px 15px 18px 0px rgba(0, 0, 0, 0.5);
}
div.dropdown-example:hover div.dropdown-content-example {
  display: block;
}
div.dropdown-content-example:hover {
  width: 90%;
  transition: 0.6s;
}
div.dropdown-content-example:hover img.joker-quote {
  opacity: 1;
  transition: 0.6s;
}
img.joker-quote {
  border-radius: 100px;
  display: block;
  width: 100%;
  margin: auto;
  opacity: 0.5;
}
div.dropdown-menu {
  position: relative;
  display: inline-block;
  user-select: none;
}
button.dropdown-menu-button {
  width: 250px;
  font-family: "Lexend Deca", Joan, "Noto Sans";
  font-weight: bold;
  font-size: 1.25em;
  background-color: #fd4;
  border-radius: 10px;
  cursor: pointer;
}
div.dropdown-menu-content a {
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: lightyellow;
  padding: 10px;
  width: 250px;
  color: black;
}
div.dropdown-menu-content a:hover {
  background-color: #fd4;
  font-weight: bold;
  letter-spacing: 0.1em;
  transition: 0.6s;
}
div.dropdown-menu-content {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0px 15px 18px 0px rgba(0, 0, 0, 0.5);
}
button.dropdown-menu-button:hover {
  background-color: yellow;
}
div.dropdown-menu:hover div.dropdown-menu-content {
  display: block;
}
div.dropdown-image-container {
  position: relative;
  width: 25%;
}
div.dropdown-image {
  display: none;
  position: absolute;
  width: 1400px;
}
div.dropdown-image-caption {
  text-align: center;
  background-color: #ddd;
  font-weight: bold;
  font-size: 25px;
  width: 100%;
  padding: 10px 20px;
}
div.dropdown-image-container:hover div.dropdown-image {
  display: block;
}
div.gallery-container::after {
  content: "";
  clear: both;
  display: table;
}
div.gallery {
  width: 24%;
  float: left;
  display: block;
  margin: 5px;
  border: 1px solid grey;
  user-select: none;
  cursor: pointer;
}
div.gallery:hover {
  border: 1px solid red;
}
div.gallery:hover div.gallery-description {
  text-shadow: 1px 1px 10px red;
}
div.gallery a img {
  width: 100%;
  height: auto;
  margin-bottom: -5px;
}
div.gallery-description {
  width: 100%;
  text-align: center;
  padding: 5px;
  color: white;
  background-image: linear-gradient(#333, #555, #777);
}
div.gallery-container-responsive::after {
  content: "";
  clear: both;
  display: table;
}
div.gallery-responsive {
  width: 24%;
  float: left;
  display: block;
  margin: 5px;
  border: 1px solid grey;
  user-select: none;
  cursor: pointer;
}
div.gallery-responsive:hover {
  border: 1px solid red;
}
div.gallery-responsive:hover div.gallery-description-responsive {
  text-shadow: 1px 1px 10px red;
}
div.gallery-responsive a img {
  width: 100%;
  height: auto;
  margin-bottom: -5px;
}
div.gallery-description-responsive {
  width: 100%;
  text-align: center;
  padding: 5px;
  color: white;
  background-image: linear-gradient(#333, #555, #777);
}

@media only screen and (max-width: 1125px) {
  div.gallery-responsive {
    width: 47%;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 575px) {
  div.gallery-responsive {
    width: 100%;
    float: none;
    margin: auto;
    margin-bottom: 5px;
  }
}
a.attri[target] img {
  width: 100px;
  height: 100px;
}
a.attri[target] {
  display: block;
  float: left;
  text-align: center;
  width: 33%;
  border: 1px solid black;
  margin: 1px;
}
@media only screen and (max-width: 800px) {
  a.attri[target] {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}
a.attri[target]:hover {
  background-color: white;
  box-shadow: 0px 15px 18px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
a.attri2[target] img {
  width: 100px;
  height: 100px;
}
a.attri2[target] {
  display: block;
  float: left;
  text-align: center;
  width: 33%;
  border: 1px solid black;
  margin: 1px;
}
@media only screen and (max-width: 800px) {
  a.attri2[target] {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}
a.attri2[target="_self"]:hover {
  background-color: white;
  box-shadow: 0px 15px 18px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
a.attri2[target="_blank"]:hover {
  background-color: lightblue;
  box-shadow: 0px 15px 18px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
img[title~="ninja"] {
  display: block;
  width: 90%;
  height: auto;
  margin: auto;
  padding: 10px;
  border-radius: 100px;
  opacity: 0.5;
}
img[title~="ninja"]:hover {
  width: 100%;
  opacity: 1;
  transition: 0.6s;
}
img[title~="Chika"] {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 100px;
  opacity: 0.5;
}
img[title~="Chika"]:hover {
  opacity: 1;
  transition: 0.6s;
}
div.div-container-small {
  width: 100%;
  border: 1px solid black;
  border-radius: 20px;
  background-color: lightblue;
  padding: 5px 20px;
  margin-bottom: 10px;
}
div.pgroup1 p[class|="top"] {
  background-color: #fd4;
}
div.pgroup2 p[class^="top"] {
  background-color: #fd4;
}
div.pgroup3 p[class$="top"] {
  background-color: #fd4;
}
div.pgroup4 p[class*="top"] {
  background-color: #fd4;
}
form.form-example label[for*="name"],
form.form-example input[type="text"],
form.form-example label[for="country-example"],
form.form-example select,
form.form-example button {
  display: block;
  width: 100%;
}
form.form-example input[type="text"],
form.form-example select {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}
form.form-example input[type="text"]:focus,
form.form-example select:focus {
  outline: 3px solid #45a049;
}
form.form-example input[type="text"]:invalid,
form.form-example select:invalid {
  outline: 3px solid red;
}
form.form-example button {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #4caf50;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  user-select: none;
}
form.form-example button:hover {
  background-color: #45a049;
  letter-spacing: 0.1em;
  transition: 0.3s;
}
form.form-example label[for*="name"],
form.form-example label[for="country-example"] {
  margin-bottom: 3px;
}
form.form-example1 input[type="text"] {
  width: 100%;
}
form.form-example2 input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
}
form.form-example3 input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  border: 2px solid red;
  border-radius: 10px;
}
form.form-example4 input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  border-radius: 10px;
  background-color: lightblue;
}
form.form-example5 input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  border-radius: 10px;
}
form.form-example5 input[type="text"]:focus {
  background-color: lightblue;
}
form.form-example6 input[type="search"] {
  width: 100%;
  padding: 10px;
  padding-left: 30px;
  background-image: url(../images/search-icon_24x24.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 5px 5px;
}
form.form-example6 input[type="search"]:focus {
  background-color: lightcyan;
}
form.form-example7 input[type="search"] {
  width: 200px;
  padding: 10px;
  padding-left: 30px;
  background-image: url(../images/search-icon_24x24.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 5px 5px;
  border-radius: 20px;
  transition: width 0.4s ease-in-out;
}
form.form-example7 input[type="search"]:focus {
  background-color: lightcyan;
  width: 100%;
}
form.form-example8 textarea {
  resize: none;
  width: 50%;
  height: 100px;
  color: black;
  padding: 20px;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
}
form.form-example8 textarea:focus {
  width: 100%;
  height: 300px;
}
form.form-example9 select {
  width: 100%;
  padding: 15px 10px;
  margin: 10px 0px;
  border-radius: 15px;
  background-color: #f1f1f1;
}
form.form-example9 button {
  padding: 20px;
  width: 200px;
  border-radius: 20px;
  user-select: none;
  cursor: pointer;
  background-color: #45a049;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  transition: all 0.3s ease-in-out;
}
form.form-example9 button:hover {
  background-color: #327135;
  letter-spacing: 0.1em;
}
form.form-example10 div.group {
  display: block;
  margin: 10px;
  position: relative;
}
form.form-example10 label {
  display: inline-block;
  width: 20%;
}
form.form-example10 input,
form.form-example10 select,
form.form-example10 textarea {
  display: inline-block;
  width: 75%;
  border-radius: 10px;
}
form.form-example10 input:focus,
form.form-example10 select:focus,
form.form-example10 textarea:focus {
  outline: 3px solid blue;
}
form.form-example10 input,
form.form-example10 select {
  padding: 5px 8px;
}
form.form-example10 textarea {
  margin-left: 20.4%;
  padding: 5px 8px;
  resize: none;
  overflow: auto;
  width: 75%;
  height: 50px;
  transition: height 0.3s ease-in-out;
}
form.form-example10 textarea:focus {
  height: 150px;
}

form.form-example10 label[for="subject"] {
  position: absolute;
}
form.form-example10 button {
  padding: 15px 5px;
  width: 25%;
  border-radius: 10px;
  font-weight: bold;
  display: block;
  margin-left: 70%;
  user-select: none;
  cursor: pointer;
  font-size: 1.1em;
  transition: all 0.3s ease-in-out;
}
form.form-example10 button:hover {
  background-color: #555;
  font-weight: bolder;
  letter-spacing: 0.1em;
  color: white;
}
@media only screen and (max-width: 800px) {
  form.form-example10 label {
    display: block;
    width: 100%;
  }
  form.form-example10 input,
  form.form-example10 select,
  form.form-example10 textarea {
    display: block;
    width: 100%;
    margin: 5px;
  }
  form.form-example10 label[for="subject"] {
    position: relative;
  }
  form.form-example10 textarea {
    margin-left: 0px;
    width: 100%;
  }
  form.form-example10 button {
    margin-left: 0px;
    width: 100%;
  }
}
div.counter-example {
  counter-reset: test;
}
div.counter-example h3::before {
  counter-increment: test;
  content: "Section " counter(test) ": ";
}
div.counter-example1 {
  counter-reset: section;
}
div.counter-example1 h3 {
  counter-reset: subsection;
}
div.counter-example1 h3::before {
  counter-increment: section;
  content: "Section " counter(section) ". ";
}
div.counter-example1 h4::before {
  counter-increment: subsection;
  content: counter(section) "." counter(subsection) " ";
}
img[title~="layout"] {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}
img[title~="layout"]:hover {
  outline: 3px solid blue;
  opacity: 1;
}
iframe.iframe-website-layout {
  width: 100%;
  height: 500px;
  overflow: auto;
  background-color: white;
}
#web-layout-header {
  background-color: #f1f1f1;
  padding: 20px;
  margin: 0px;
  text-align: center;
}
#web-layout-nav ul::after {
  content: "";
  clear: both;
  display: table;
}
#web-layout-nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: #333;
  overflow: hidden;
  user-select: none;
}
#web-layout-nav ul li a {
  display: block;
  text-decoration: none;
  float: left;
  padding: 14px 16px;
  color: white;
  transition: all 0.1s ease-in-out;
}
#web-layout-nav ul li a:hover {
  color: black;
  background-color: #ddd;
}
#content-responsive::after {
  content: "";
  clear: both;
  display: table;
}
#content-responsive div.column {
  width: 33.33%;
  padding: 10px 20px;
  text-align: justify;
  float: left;
}
@media only screen and (max-width: 1000px) {
  #content-responsive div.column {
    width: 100%;
    padding: 0px 20px;
    float: none;
  }
}
#unequal-width-content-responsive::after {
  content: "";
  clear: both;
  display: table;
}
#unequal-width-content-responsive div.main {
  width: 60%;
  padding: 10px 20px;
  text-align: justify;
  float: left;
}
#unequal-width-content-responsive div.side {
  width: 20%;
  padding: 10px 20px;
  text-align: justify;
  float: left;
}
@media only screen and (max-width: 1000px) {
  #unequal-width-content-responsive div.main {
    width: 100%;
    padding: 0px 20px;
    float: none;
  }
  #unequal-width-content-responsive div.side {
    width: 100%;
    padding: 0px 20px;
    float: none;
  }
}
#web-layout-footer p {
  text-align: center;
  background-color: #f1f1f1;
  padding: 20px;
}
#responsive-web-layout-replication {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
}
#responsive-web-layout-replication header {
  text-align: center;
  background-color: white;
  padding-top: 20px;
  margin: 20px 20px 0px 20px;
}
#responsive-web-layout-replication h1 {
  font-size: 50px;
}
#responsive-web-layout-replication ul::after {
  content: "";
  clear: both;
  display: table;
}
#responsive-web-layout-replication ul {
  list-style-type: none;
  margin: 50px 0px 0px 0px;
  padding: 0px;
  background-color: #333;
  user-select: none;
}
#responsive-web-layout-replication ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  float: left;
  transition: all 0.2s ease-in-out;
}
#responsive-web-layout-replication ul li a.right {
  float: right;
}
#responsive-web-layout-replication ul li a:hover {
  color: black;
  background-color: #eee;
}
@media only screen and (max-width: 600px) {
  #responsive-web-layout-replication ul li a {
    float: none;
  }
  #responsive-web-layout-replication ul li a.right {
    float: none;
  }
}
#responsive-web-layout-replication main::after {
  content: "";
  clear: both;
  display: table;
}

#responsive-web-layout-replication main img {
  width: 100%;
  height: auto;
  border: 1px solid black;
}
#responsive-web-layout-replication section.main {
  width: 75%;
  float: left;
}
#responsive-web-layout-replication section.side {
  width: 25%;
  float: left;
}
#responsive-web-layout-replication section div {
  padding: 20px;
  margin: 20px;
  background-color: white;
}
#responsive-web-layout-replication p.title-description {
  font-weight: bold;
  font-size: small;
}
#responsive-web-layout-replication footer {
  text-align: center;
  padding: 20px;
  margin: 20px;
  font-weight: bold;
  font-size: 25px;
  background-color: #ddd;
}
@media only screen and (max-width: 800px) {
  #responsive-web-layout-replication section.main {
    width: 100%;
    float: none;
  }
  #responsive-web-layout-replication section.side {
    width: 100%;
    float: none;
  }
}
div.div-50px-gap {
  height: 100px;
  border: 1px solid black;
  width: calc(100% - 100px);
  margin: auto;
  padding: 10px;
  background-color: #038253;
  color: white;
  text-align: center;
}
div.div-50percent-300px-max {
  height: 100px;
  border: 1px solid black;
  width: max(50%, 300px);
  margin: auto;
  padding: 10px;
  background-color: #038253;
  color: white;
  text-align: center;
}
div.div-50percent-300px-min {
  height: 150px;
  border: 1px solid black;
  width: min(50%, 300px);
  margin: auto;
  padding: 10px;
  background-color: #038253;
  color: white;
  text-align: center;
  overflow: auto;
}
